.container{
    width: 640px;
    margin: auto;
    background: white;
    margin-top: 150px;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 50px;
    border-radius: 10px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-weight: 500;
    font-size: 28px;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

.container button{
    width: 250px;
    height: 65px;
    background: #5726ebff;
    color: #fff;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
    font-weight: 500;
}
.container .index{
    margin: auto;
    font-size: 18px;
}